.block {
  font-size: 40px;
  color: white;
  background-color: firebrick;
  padding: 10px;
}

ul {
  margin: 100px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.imgBlock {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
