$body-color: #888888;

@font-face {
  font-family: "Amatic";
  src: url(../fonts/AmaticSC-Bold.ttf);
  font-style: normal;
}

body {
  background-color: $body-color;
}
img {
  margin: 0 10px;
}

#root {
  font-family: "Amatic";
  text-align: center;
}
