body {
  background-color: dodgerblue;
  min-width: 100vw;
  min-height: 100vh;
}
/* testetsetsete */
.block{
    font-size: 40px;
    color: white;
    background-color: firebrick;
}

ul{
    margin: 100px;
}